{% set bodyClass = 'tickets' %}

{% extends "_layouts/site" %}

{% block main %}

{% set showsQuery = craft.entries.section('shows').all%}
{% set shows = showsQuery %}


{% set showsByDay = shows|group(e => e.date|date('l j F')) %}

{% for show, shows in showsByDay %}
  <!-- Day -->
  <div class="grid-x padding-top-2 align-center show-for-medium">
    <div class="shrink cell">
      <h3 class="sans-display text-uppercase">{{ show}}</h3>
    </div>
  </div>
  <!-- End Day -->

<div class="grid-container">

{% for show in shows %}

<!-- Panel -->
  <div class="grid-x grid-margin-x grid-margin-y">
  <div class="small-12 cell padding-top-1">
    
  <div class="grid-x grid-padding-x grid-padding-y callout">

          
  <!-- Time -->
  <div class="small-12 large-2 cell text-center large-text-left">
    <div class="grid-y align-justify" style="height: 100%">
      
      <div class="shrink cell">
      <h3 class="show-for-small-only sans-display">{{ show.showStart |date('l j F')}}</h3>
      <h3>{{ show.showStart |date('g:iA') }}</h3>
      <a href="{{ show.url }}"><svg class="icon icon-eye"><use xlink:href="/assets/icons/symbol-defs.svg#icon-eye"></use></svg></a>
      </div>
      
      <div class="shrink cell show-for-large">
      {% if show.soldOut %}
      <a class="button expanded margin-bottom-0">Sold Out</a>
      {% else %}
      <a class="button expanded margin-bottom-0" href="{{show.ticketLink}}" target="_blank">Buy Now</a>
      {% endif %} 
      </div>
      
    </div>
  </div>
  <!-- End Time -->
  
          <div class="small-12 large-4 cell">
            {% for act in show.acts.limit(1) %}
            {% set image = act.image.one() %}
            <div class="image--default align-center-middle" data-interchange="{% include "_includes/images/contained/7-5/interchange-img-small-12-medium-4" %}"></div>
            {% endfor %}
          </div>
          
          <div class="small-12 large-4 cell text-center large-text-left padding-top-1">
            {% for act in show.acts.limit(10) %}
              <h2 class="margin-bottom-0 sans-display text-uppercase">{{ act.title }}</h2>
            {% endfor %}
          </div>
          
          <div class="small-12 large-2 cell text-center large-text-right">
            <div class="show-for-large">
            <h5 class="margin-bottom-0 sans-display text-uppercase">Festival Opens</h5>
            <div class="margin-bottom-1">{{ show.festivalStart |date('g:iA') }}</div>
            <h5 class="margin-bottom-0 sans-display text-uppercase">Show Starts</h5>
            <div class="margin-bottom-1">{{ show.showStart |date('g:iA') }}</div>
            </div>
            <h5 class="margin-bottom-0 sans-display text-uppercase">Tickets</h5>
            {{ show.ticketPrice }}
            
      <div class="shrink cell hide-for-large padding-top-2">
      {% if show.soldOut %}
      <a class="button expanded">Sold Out</a>
      {% else %}
      <a class="button expanded" href="{{show.ticketLink}}" target="_blank">Buy Now</a>
      {% endif %} 
      </div>
      
          </div>
          
          

      </div>
    
  </div>
  </div>
  <!-- End Panel -->
{% endfor %}
</div>




{% endfor %}



{% endblock %}