{% set bodyClass = 'food-and-drink' %}

{% extends "default/_layouts/site" %}

{% block main %}

<!-- Copy -->
<div class="grid-container padding-vertical-2">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      {{entry.copy}}
    </div>
  </div>
</div>
<!-- End Copy -->

<!-- Traders -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y">
  {% for trader in entry.traders.all() %}
    <div class="small-12 medium-6 large-6 cell">

        <div class="grid-x grid-padding-x grid-padding-y text-center">
          <div class="small-12 cell">
            {% set image = trader.image.one() %}
            <div class="image--landscape excerpt" data-interchange="{% include "default/_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}">

            <div class="content grid-y align-center excerpt__title">
              <div class="shrink cell padding-1 h2 margin-bottom-0 text-uppercase sans-display white text-center">
              {{trader.title}}
              </div>
            </div>
      
            <div class="content grid-y align-center excerpt__hover">
              <div class="shrink cell padding-1 h2 margin-bottom-0 sans-display white text-center">
                {% if trader.socials|length %}
                <ul class="menu align-center show-for-large">
                {% for block in trader.socials.all() %}
                {% switch block.type %}
                  {% case "facebook" %}
                    <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
                  {% case "instagram" %}
                    <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
                  {% case "twitter" %}
                    <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
                  {% case "website" %}
                    <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-website"><use xlink:href="/assets/icons/symbol-defs.svg#icon-website"></use></svg></a></li>
                {% endswitch %}
                {% endfor %}
                </ul>
              {% endif %} 
              </div>
            </div>

              
            </div>
          </div>
        </div>
        
        <div class="grid-x grid-padding-x grid-padding-y">
        <div class="small-12 cell">
        {{trader.simpleCopy}}
        </div>
        </div>

    </div>
  {% endfor %}
  </div>
</div>
<!-- End Traders -->

{% endblock %}