{% set bodyClass = 'show' %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Date -->
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 cell text-center">
    <div class="h3 sans-display">{{ entry.date |date('l j F') }}<span class="primary-color"> — </span>{{ entry.showStart |date('g:iA') }}</div>
  </div>
</div>
<!-- End Date -->

<!-- Images -->
<div class="grid-x">
    {% for act in entry.acts.all() %}
    {% set image = act.image.one() %}
    <div class="small-6 large-auto cell">
    <div class="image--square excerpt" data-interchange="{% include "_includes/images/contained/1-1/interchange-img-small-12-medium-12" %}">
      

      <div class="content grid-y align-center excerpt__title">
        <div class="shrink cell padding-1 h2 margin-bottom-0 text-uppercase sans-display white text-center">
        {{act.title}}
        </div>
      </div>

      
      <div class="content grid-y align-center excerpt__hover">
        <div class="shrink cell padding-1 h2 sans-display white text-center">
          {% if act.socials|length %}
          <ul class="menu align-center show-for-large">
          {% for block in act.socials.all() %}
          {% switch block.type %}
          
            {% case "facebook" %}
          
                <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
          
            {% case "instagram" %}
            
                <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
          
            {% case "twitter" %}
            
                <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
          
            {% case "website" %}
            
                <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-website"><use xlink:href="/assets/icons/symbol-defs.svg#icon-website"></use></svg></a></li>
          
          {% endswitch %}
          {% endfor %}
          </ul>
        {% endif %} 
        </div>
      </div>


    </div>
    </div>
    {% endfor %}
</div>
<!-- End Images -->

<!-- Content -->
<div class="grid-container">
  <div class="grid-x grid-padding-y grid-padding-x event__text align-center margin-top-1">
    
    <!-- Left -->
    <div class="small-11 medium-6 cell">
      <div class="grid-x">
        <div class="small-12 cell">
          {{ event.copy| markdown }}
        </div>
      </div>
    
      <div class="grid-x">
        <div class="small-12 cell">

          {% for block in entry.layout.all() %}
          
              {% if block.type == "copy" %}
          
              {{ block.copy }}
          
              {% elseif block.type == "quote" %}
          
              <div class="grid-x">
                <div class="small-12 cell">
                  <blockquote>
                	<h3>{{ block.quote }}</h3>
                	<cite>{{ block.cite }}</cite>
                	</blockquote>
                </div>
              </div>
          
              {% endif %}
          
          {% endfor %}

        </div>
      </div>
    
    </div>
    <!-- End Left -->
    
    <!-- Right -->
    <div class="small-11 medium-3 cell text-center medium-text-left">
        <h4 class="sans-display margin-bottom-0 text-uppercase">Festival Opens</h4>
        <div class="margin-bottom-1">{{ entry.festivalStart |date('g:iA') }}</div>
        <h4 class="sans-display margin-bottom-0 text-uppercase">Show Starts</h4>
        <div class="margin-bottom-1">{{ entry.showStart |date('g:iA') }}</div>
        <h4 class="sans-display margin-bottom-0 text-uppercase">Tickets</h4>
        <div class="margin-bottom-1">{{ entry.ticketPrice}}</div>
        
        {% if entry.soldOut %}
        <a class="button large">Sold Out</a>
        {% else %}
        <a class="button large" href="{{ entry.ticketPrice}}" target="_blank">Buy Tickets</a>
        {% endif %}
        
    </div>
    <!-- End Right -->
  
  </div>
  </div>
<!-- End Content -->

{% set params = {section: entry.section.handle} %}
{% set prev = entry.getPrev(params) %}
{% set next = entry.getNext(params) %}

<div class="grid-container">
  <div class="grid-x grid-padding-y">
  
    <div class="small-4 cell">
      {% if prev %}
        <a href="{{prev.url}}">
          <div class="align-middle">
            <svg class="icon icon-arrow icon-arrow_back"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_back"></use></svg>
          </div>
        </a>
      {% endif %}
    </div>
    
    <div class="small-4 cell align-middle">
        <a href="/shows">
          <div class="align-middle text-center">
            <svg class="icon icon-grid_view"><use xlink:href="/assets/icons/symbol-defs.svg#icon-grid_view"></use></svg>
          </div>
        </a>
    </div>
    
    
    <div class="small-4 cell text-right">
      {% if next %}
      <a href="{{next.url}}">
        <div class="align-middle">
            <svg class="icon icon-arrow icon-arrow_forward"><use xlink:href="/assets/icons/symbol-defs.svg#icon-arrow_forward"></use></svg>
        </div>
      </a>
      {% endif %}
    </div>
  
  </div>
</div>

{% endblock %}