<div class="primary-background-colour padding-vertical-1">

  
  <div class="grid-x grid-padding-y align-center">
    <div class="shrink cell">
      <ul class="menu align-middle">
        {% for block in event.socials.all() %}
        {% switch block.type %}
          {% case "facebook" %}
        
              <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
        
          {% case "instagram" %}
          
              <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
        
          {% case "twitter" %}
          
              <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
          {% endswitch %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="grid-x grid-padding-y grid-padding-x align-center">
    <div class="small-12 cell text-center">
      <a href="/tickets" class="h4">{{event.address}} — {{event.startDate|date('j')}} - {{event.finishDate|date('j F Y')}}</a>
    </div>
  </div>

  <div class="grid-container">

  <div class="grid-x grid-padding-y grid-padding-x align-center">
    <div class="small-12 medium-8 cell text-center">

    <div class="grid-x align-center align-middle">
      {% for client in event.partners.all() %}
      <div class="auto cell text-center padding-vertical-2">
        <img src="{{client.url}}" alt="{{client.filename}}" class="sponsor">
      </div>
      {% endfor %}
    </div>

    </div>
  </div>

  </div>

  <div class="grid-x grid-padding-y grid-padding-x align-center">
    <div class="small-12 cell text-center">
    <h4 class="sans-display text-uppercase">Subject to license</h5>
    </div>
  </div>

  <div class="grid-x grid-padding-y grid-padding-x align-center">
    <div class="small-12 cell text-center">
      <ul class="menu align-center">
        <li><a href="/privacy-policy"><small>© {{ "now"|date("Y") }} {{ company.company }}. Images © their respective owners.</small></a></li>
        <li><a href="/privacy-policy"><small>Privacy Policy</small></a></li>
        <li><a href="/terms"><small>Terms and Conditions</small></a></li>
      </ul>
    </div>
  </div>

</div>