<div class="grid-x align-justify primary-background-colour show-for-small-only navigation__banner"> 
  <div class="small-12 cell text-center">   
    <small>{{event.startDate|date('j')}} - {{event.finishDate|date('j F Y')}}, {{event.address}}</small>
  </div>
</div>

<!-- Header -->
<header class="grid-x grid-padding-x grid-padding-y align-justify align-middle navigation" data-aos="fade-down">

  <div class="small-2 cell text-left">
    <a data-toggle="navigation"><svg class="icon icon-menu"><use xlink:href="/assets/icons/symbol-defs.svg#icon-menu"></use></svg></a>
  </div>

  <div class="small-8 cell text-center text-uppercase">
    <a href="/">
      <svg class="icon icon-{{ event.logo }}"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ event.logo }}"></use></svg>
      <div class="small font-wide show-for-medium">{{event.startDate|date('j')}} - {{event.finishDate|date('j F Y')}}</div>
    </a>
  </div>

  <div class="small-2 cell text-right">
    <a href="/tickets/"><svg class="icon icon-tickets"><use xlink:href="/assets/icons/symbol-defs.svg#icon-tickets"></use></svg></a>
  </div>

</header>
<!-- End  Header -->
