{% set bodyClass = 'home' %}

{% extends "_layouts/site" %}

{% block main %}

<!-- Page Image -->
{% set image = entry.featuredImage.one() %}
{% if image %}
<section class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
    <div class="small-12 cell">

      
      <div class="image" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
        {% if entry.video %}
        <div class="grid-y height-100 align-center video content">
          <div class="shrink cell text-center" data-src="{{entry.video}}">
            <a href="{{entry.video}}" class="white"><svg class="icon icon-play_arrow"><use xlink:href="/assets/icons/symbol-defs.svg#icon-play_arrow"></use></svg></a>
          </div>
        </div>
        {% endif %}
      </div>

    </div>
  </div>
</section>
{% endif %}
<!-- End Page Image -->

<!-- Title -->
<section class="grid-container">
<div class="grid-x grid-padding-y align-center project__meta">
  <div class="small-8 medium-7 large-7 cell text-center">
    <div class="h5 text-lowercase">{{ entry.client }} — {{ entry.project }}</div>
    <div class="h5 text-lowercase">{{ entry.subject }}</div>
  </div>
</div>
</section>
<!-- End Title -->

<!-- Content -->
<section class="grid-container">
<div class="grid-x grid-padding-y align-center">
  <div class="small-12 medium-8 cell text-center">
    {{ entry.copy }}
  </div>
</div>
</section>
<!-- End Content -->

<!-- Images -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">

    {% for image in entry.images %}
     {% if image.aspectRatio == "landscape" %}
     <div class="small-12 medium-12 cell">
      <div class="margin-bottom-2 image--16-9" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"></div>
     </div>
     {% elseif image.aspectRatio == "portrait" %}
     <div class="small-12 medium-6 cell">
      <div class="margin-bottom-2 image--5-7" data-interchange="{% include "_includes/images/contained/5-7/interchange-img-small-12-medium-12" %}"></div>
     </div>
     {% else  %}
     <div class="small-12 medium-12 cell">
      <div class="margin-bottom-2 image--16-9" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}"></div>
     </div>
     {% endif %}

    {% endfor %}
  </div>
</div>
<!-- End Images -->

<!-- Pagination -->
{% set workQuery = craft.entries
.section('work')
.orderBy('RAND()')
.id('not ' ~ entry.id)
.limit(3) %}

{% set works = workQuery.all() %}

<div class="grid-container padding-bottom-2">

  <div class="grid-x grid-padding-y align-center">
    <div class="small-12 medium-8 cell text-center">
      <h5 class="text-lowercase">Similar Projects</h5>
    </div>
  </div>

  <div class="grid-x grid-padding-x grid-padding-y">
    {% for work in works %}
      <div class="small-12 medium-4 cell text-center">
        <a href="{{ work.url }}">
          {% set image = work.featuredImage.one() %}
          <div class="margin-bottom-1 image" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
            <div class="content grid-y align-center">
              <div class="shrink cell padding-1">
      
              </div>
            </div>
          </div>
      
          <div class="text-lowercase">
          <div>{{ work.client }} — {{ work.project }}</div>
          <div>{{ work.subject }}</div>
          </div>
      
        </a>
      </div>
    {% endfor %}
  </div>
</div>
<!-- End Pagination -->


{% endblock %}