{% set bodyClass = 'home' %}

{% extends "default/_layouts/site" %}

{% block hero %}

<!-- Headliners - Desktop -->
<div class="swiper-container show-for-large">

  <div class="swiper-wrapper">
    {% for block in entry.heroActs.order('RAND()').all() %}
    {% set act = block.act.one() %}
    {% set show = block.show.one() %}
    <div class="swiper-slide small-12 cell text-center">
      {% set image = act.image.one() %}
      <div class="image--panorama align-center-middle" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
        
        <div class="grid-y height-100 align-center content">
          <div class="shrink cell text-center">
          <a href="{{ show.url }}" class="white">
            <h1 class="sans-display text-uppercase">{{act.title}}</h1>
            <h3>{{block.quote|markdown}}</h3>
          </a>
          </div>
        </div>
  
      </div>
    </div>
    {% endfor %}
  </div>

  <div class="swiper-button-prev-test flex-container align-middle primary-color margin-left-1"></div>
  <div class="swiper-button-next-test flex-container align-middle align-right primary-color margin-right-1"></div>

  <div class="swiper-pagination"></div>

</div>
<!-- End Headliners - Desktop -->
{% endblock %}

{% block main %}
<!-- Copy -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      {{entry.copy}}
    </div>
  </div>
</div>
<!-- End Copy -->

<!-- Acts -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y align-center">
  {% for block in entry.featuredActs.all() %}
  {% set act = block.act.one() %}
  {% set show = block.show.one() %}
    <div class="{{ block.width.value }} cell">
      <a href="{{ show.url }}">
        {% set image = act.image.one() %}
        {% set title = act %}
        {% include "_includes/blocks/excerpt" %}
      </a>
    </div>
  {% endfor %}
  </div>
  
  <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      <svg class="icon icon-eye"><use xlink:href="/assets/icons/symbol-defs.svg#icon-eye"></use></svg>
      <h3 class="text-low">View Full Line Up</h3>
    </div>
  </div>
</div>
<!-- End Acts -->

<!-- Traders -->
<div class="grid-container">

  <!-- Copy -->
  <div class="grid-x grid-padding-x grid-padding-y padding-vertical-3 align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      <h2>Food + Drink</h2>
      {{entry.foodCopy}}
    </div>
  </div>
  <!-- End Copy -->

{#
  <div class="grid-x grid-padding-x grid-padding-y">
  {% for trader in entry.traders.all() %}
    <div class="small-12 medium-4 large-4 cell">
      <a href="/food-and-drink">
      {% set image = trader.image.one() %}
      {% set title = trader %}
      {% include "_includes/blocks/excerpt" %}
      </a>
    </div>
  {% endfor %}
  </div>
#}

  <div class="grid-x grid-padding-x grid-padding-y align-center">
  {% for block in entry.featuredTraders.all() %}
  {% set trader = block.trader.one() %}
    <div class="{{ block.width.value }} cell">
      <a href="">
        {% set image = trader.image.one() %}
        {% set title = trader %}
        {% include "_includes/blocks/excerpt" %}
      </a>
    </div>
  {% endfor %}
  </div>
</div>
<!-- End Traders -->

{% endblock %}