{% set bodyClass = 'holding' %}

{% extends "default/_layouts/base" %}

{% block body %}

<div class="clouds">
  <div class="plants">
    <div class="characters">

{% block main %}

<div class="grid-y align-center viewheight white">
  <div class="shrink cell">

      <div class="grid-x grid-padding-x">
        <div class="small-12 cell text-center">
          <svg class="icon icon-{{ event.logo }} icon-holding"><use xlink:href="/assets/icons/symbol-defs.svg#icon-{{ event.logo }}"></use></svg>
        </div>
      </div>
      
      <div class="grid-x grid-padding-x grid-padding-y">
        <div class="cell text-center">
          <h3>{% if event.spansMonths %}{{event.startDate|date('j F')}} - {{event.finishDate|date('j F Y')}}{% else %}{{event.startDate|date('j')}} - {{event.finishDate|date('j F Y')}}{% endif %}</h3>
          {% if holding.showAddress %}
          <h4>{{ event.address }}</h4>
          {% endif %}
          {% if holding.ticketsOnSale %}<h4>{{ holding.ticketsOnSale }}</h4>{% endif %}
        </div>
      </div>
      
      <div class="grid-x grid-padding-x grid-padding-y align-center">
        <div class="small-11 medium-5 large-4 xlarge-4 xxlarge-3 cell text-center">
          <form action="{{ event.newsletter }}" method="post" target="_blank" data-abide novalidate>
           
            <div data-abide-error class="alert callout" style="display: none;">
              <p><i class="fi-alert"></i>There are some errors in your form.</p>
            </div> 

            <div class="input-group">
              <input class="input-group-field" type="email" name="EMAIL" placeholder="Subscribe to our newsletter">
              <div class="input-group-button">
              <input type="submit" class="button" value="Submit">
              </div>
            </div>
          </form>
        </div>
      </div>
      
      <div class="grid-x align-center">
        <div class="shrink cell">
          <ul class="menu align-middle">
            {% for block in event.socials.all() %}
            {% switch block.type %}
            
              {% case "facebook" %}
                  <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-facebook"><use xlink:href="/assets/icons/symbol-defs.svg#icon-facebook"></use></svg></a></li>
              {% case "instagram" %}
                  <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-instagram"><use xlink:href="/assets/icons/symbol-defs.svg#icon-instagram"></use></svg></a></li>
              {% case "twitter" %}
                  <li><a href="{{block.socialLink}}" target="_blank"><svg class="icon icon-twitter"><use xlink:href="/assets/icons/symbol-defs.svg#icon-twitter"></use></svg></a></li>
              {% endswitch %}
            {% endfor %}
          </ul>
        </div>
      </div>


      
    {% if event.subjectToSitePermission %}
      <div class="grid-x grid-padding-y grid-padding-x align-center">
        <div class="small-12 cell text-center">
        <h5 class="sans-display text-uppercase">Subject To Site Permission & Licensing</h5>
        </div>
      </div>
    {% endif %}

<div class="grid-x grid-padding-y grid-padding-x align-center">
  <div class="small-12 medium-6 cell text-center">

<div class="grid-x align-center align-middle">
  {% for client in event.partners.all() %}
  <div class="auto cell text-center padding-top-1">
    <img src="{{client.url}}" alt="{{client.filename}}" class="sponsor">
  </div>
  {% endfor %}
</div>

</div>
</div>
 
    <div class="grid-x grid-padding-y grid-padding-x align-center">

      <div class="small-12 cell text-center">
        <ul class="menu align-center">
        <li><small>© {{ "now"|date("Y") }} {{ company.company }}</small></li>
        </ul>
      </div>
    </div>

  </div>
</div>

{% endblock %}

    </div>
  </div>
</div>

{% endblock %}