{% set bodyClass = 'location' %}

{% extends "_layouts/site" %}

{% block main %}

<div class="grid-x">
  <div class="small-12 cell">
    <div id="map" style="width: 100%; height: 25rem" class="margin-bottom-1"></div>
  </div>
</div>

<!-- Image -->
{% set image = entry.image.one() %}
<div class="image--panorama align-center-middle" data-interchange="{% include "_includes/images/contained/16-9/interchange-img-small-12-medium-12" %}">
  <div class="grid-y height-100 align-center content">
    <div class="shrink cell text-center">
      <h1 class="sans-display white">{{entry.title}}</h3>
    </div>
  </div>
</div>
<!-- Image -->

<!-- Copy -->
<div class="grid-container padding-vertical-3">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      {{entry.copy}}
    </div>
  </div>
</div>
<!-- End Copy -->

<!-- Address + Date -->
<div class="grid-container padding-vertical-1">
  <div class="grid-x grid-padding-x grid-padding-y align-center align-middle">
    <div class="small-12 medium-10 large-9 cell text-center">
      <h3 class="primary-color">{{event.address}}</h3>
      <h3 class="primary-color">{{event.startDate|date('j')}} - {{event.finishDate|date('j F Y')}}</h3>
    </div>
  </div>
</div>
<!-- End Address + Date -->

<!-- Transport -->
<div class="grid-container">
  <div class="grid-x grid-padding-x grid-padding-y small-up-1 medium-up-2 large-up-4">
    {% for transport in entry.transport.all() %}
      <div class="cell">
        <h2 class="sans-display">{{ transport.header }}</h2>
        {{ transport.copy }}
      </div>
    {% endfor %}
  </div>
</div>
<!-- End Transport  -->

<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZ2FyZXRoam9obnNkZXNpZ24iLCJhIjoibWRoWDZWUSJ9.n1A58EO10IDrB5yIAKqAPA';

var map = new mapboxgl.Map({
container: 'map', // container id
style: 'mapbox://styles/garethjohnsdesign/cjwujg6hf0myx1cqyw4mfpv3h', //hosted style id
center: [-0.004, 51.482],
zoom: 14,
scrollZoom: false,
pitch: 60, // pitch in degrees
bearing: -60, // bearing in degrees
});

map.addControl(new mapboxgl.NavigationControl());

map.on("load", function () {
    /* Image: An image is loaded and added to the map. */
    map.loadImage("https://i.imgur.com/MK4NUzI.png", function(error, image) {
    if (error) throw error;
    map.addImage("custom-marker", image);
    /* Style layer: A style layer ties together the source and image and specifies how they are displayed on the map. */
    map.addLayer({
    id: "markers",
    type: "symbol",
    /* Source: A data source specifies the geographic coordinate where the image marker gets placed. */
    source: {
    type: "geojson",
    data: {
    type: 'FeatureCollection',
    features: [
    {
    type: 'Feature',
    properties: {},
    geometry: {
    type: "Point",
    coordinates: [-0.004, 51.482]
    }
    }
    ]
    }
    },
    layout: {
      'icon-image': 'location',
      'icon-offset': [0, -40],
      'icon-allow-overlap': true,
    }
    });
    });
    });

</script>


{% endblock %}